.xbcritic-pagination-container {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xbcritic-pagination-box {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xbcritic-pagination-box form {
    width: 100%;
    display: flex;
}

.xbcritic-pagination-button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    cursor: pointer;
}

.xbcritic-pagination-button:disabled {
    border: 1px solid #c2c2c2;
    cursor: unset;
    transform: rotate(180deg);
}

.xbcritic-pagination-container p {
    margin: 0;
    font-size: 12px;
    color: var(--color-primary);
}