header {
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.xbcritic-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.xbcritic-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.xbcritic-contact-container {
    display: flex;
    font-size: 12px;
 
}

.xbcritic-contact-link {
    margin: 0 0 0 10px;
}

.xbcritic-nav-content a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.xbcritic-nav-content a:hover {
    color: unset;
}